.slider {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 999999;
    margin: 1rem;
}
.slider *:hover > *{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

.hDGOOH {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    overflow: hidden;
    position: relative;
}

.ldCYpm {
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5rem 0px;
    display: flex;
}

.jFbqNG {
    position: relative;
    height: 8rem;
    width: 8rem;
    overflow: hidden;
    margin: 0px 0.2rem;
    bottom: 0px;
    display: grid;
    place-content: center;
    opacity: 0.8;
    transition: opacity 125ms ease-in-out 0s;
}

.jFbqNG img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.kVBCqT {
    display: inline-block;
    animation: 120s linear 0s infinite normal none running anim1;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

.kjzvbf {
    display: inline-block;
    animation: 120s linear 0s infinite normal none running anim2;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

.jwsRRb {
    display: inline-block;
    animation: 120s linear 0s infinite normal none running anim3;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

@keyframes anim1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes anim2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes anim3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(200%);
    }
}

.more_button {
    background-color: rgb(161, 161, 161);
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    bottom: 0%;
    left: 0;
    overflow: hidden;
    margin: 50px;
}

.content_btn {
    height: 100%;
    width: 100%;
    position: relative;
}

.more_button:hover .hover {
    display: block;
}

.hover {
    display: none;
    position: absolute;
    top: 50%;
    font-size: 3rem;
    font-weight: thin;
    left: 50%;
    color: #fff;
    text-shadow: 2px 4px 2px black;
    transform: translate(-50%, -50%);
}

.slider__track-container {
    width: 100%;
    height: 100%;
}

.slider__track {
    position: relative;
    height: 100%;
}

.slider__track .slide {
    position: absolute;
    display: flex;
    top: 0%;
    bottom: 0;
    left: 0%;
    right: 0;
    cursor: pointer;
    opacity: 0;
    background-color: aqua;
    transition: all cubic-bezier(0.48, 1.35, 0.86, 1.22) 1000ms;
}

.slider__track-container {
    overflow: hidden;
}

.slide.show {
    opacity: 1;
    transition: all cubic-bezier(0.48, 1.35, 0.86, 1.22) 1000ms;
}

.slider__track-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}