<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- SERVICES -->
	
	<tracking enabled="false">
		<gameName>TMNT_Fruit_Snacks_Like_A_Turtle_Do</gameName>
		<!-- The localization region to load. Loads string files in strings/strings_<two letter locale>.xml. or, will load string.xml by default. -->
		<!-- <locale>ru</locale> -->
	</tracking>

	<!-- GAME CONFIGURATION DATA -->
	<game>
		<unlock>
			<code enabled="true" unlocks="incMeter">9155</code>
			<code enabled="true" unlocks="decDough">7300</code>
			<code enabled="true" unlocks="decCook">4144</code>
			<code enabled="true" unlocks="doubleScore">3773</code>
		</unlock>
		<levelTime>60</levelTime>
		<doughTime>5.0</doughTime>
		<cookTime>5</cookTime>
		<timeAdded>5</timeAdded>
		<timeRemoved>5</timeRemoved>
		<playerWait>30</playerWait>
		<playerWaitDecrease>2.0</playerWaitDecrease>
		<goodSliceScore>10</goodSliceScore>
		<bonusMult>2.0</bonusMult>
	</game>
</config>